<html>
  <head>
    
  </head>
  <body>
         Hi <%= message["params"]["parent_email"] %>, <br/>
         <br/>
         Someone very close to you, <%= message["params"]["firstname"] %> has just sent a letter to Santa
         Claus using our
         service. <a href="http://localhost:9393/santa/reply/<%= message['params']['_id']
         %>?secret=<%= message['params']['secret'] %>">Click here</a> to read the letter, and
         if you'd like, you can write <%= message["params"]["lastname"] %> back as
         Santa Claus. 
  </body>
  
  
</html>
